### 1. What are data structures, and why are they important?

Data structures are ways of **organizing and storing data** so it can be used efficiently. They are important because choosing the right data structure makes programs **faster, cleaner, and easier to manage**.

**Example:**
A list stores items in order, while a dictionary stores data as key–value pairs.

---

### 2. Explain the difference between mutable and immutable data types with examples

Mutable data types **can be changed after creation**, while immutable data types **cannot be changed**.

**Example:**

* List (mutable):

```python
a = [1, 2, 3]
a.append(4)
```

* Tuple (immutable):

```python
b = (1, 2, 3)
# b[0] = 10 → Error
```

---

### 3. What are the main differences between lists and tuples in Python?

Lists are **mutable**, tuples are **immutable**. Lists are slower but flexible, while tuples are faster and safer for fixed data.

**Example:**

```python
list1 = [10, 20]
tuple1 = (10, 20)
```

---

### 4. Describe how dictionaries store data

Dictionaries store data as **key–value pairs**, where each key is unique and maps to a value.

**Example:**

```python
student = {"name": "Aakash", "age": 20}
```

---

### 5. Why might you use a set instead of a list in Python?

You use a set when you want **unique values** and **faster membership checking**.

**Example:**

```python
nums = {1, 2, 3, 3}
# Output: {1, 2, 3}
```

---

### 6. What is a string in Python, and how is it different from a list?

A string is a **sequence of characters** and is **immutable**, while a list is mutable.

**Example:**

```python
s = "hello"
l = ["h", "e", "l", "l", "o"]
```

---

### 7. How do tuples ensure data integrity in Python?

Tuples cannot be modified, so data inside them stays **safe from accidental changes**.

**Example:**

```python
coordinates = (10, 20)
```

---

### 8. What is a hash table, and how does it relate to dictionaries in Python?

A hash table stores data using a **hash function**. Python dictionaries are implemented using **hash tables**, which makes lookups very fast.

---

### 9. Can lists contain different data types in Python?

Yes, lists can store **multiple data types**.

**Example:**

```python
data = [1, "Python", 3.5, True]
```

---

### 10. Explain why strings are immutable in Python

Strings are immutable to **improve performance and security**. Any change creates a new string.

**Example:**

```python
s = "cat"
s = s + "s"
```

---

### 11. What advantages do dictionaries offer over lists for certain tasks?

Dictionaries allow **fast access using keys**, making them better for structured data.

**Example:**

```python
marks = {"Math": 90, "Science": 85}
```

---

### 12. Describe a scenario where using a tuple would be preferable over a list

Tuples are best when data should **never change**, like days of the week.

**Example:**

```python
days = ("Mon", "Tue", "Wed")
```

---

### 13. How do sets handle duplicate values in Python?

Sets automatically **remove duplicate values**.

**Example:**

```python
s = {1, 2, 2, 3}
```

---

### 14. How does the “in” keyword work differently for lists and dictionaries?

* In lists, `in` checks **values**
* In dictionaries, `in` checks **keys**

**Example:**

```python
3 in [1, 2, 3]        # True
"name" in {"name": "Aakash"}  # True
```

---

### 15. Can you modify the elements of a tuple? Explain why or why not

No, tuple elements cannot be modified because tuples are **immutable**.

---

### 16. What is a nested dictionary? Give an example

A nested dictionary is a dictionary **inside another dictionary**.

**Example:**

```python
student = {
  "name": "Aakash",
  "marks": {"Math": 90, "Science": 85}
}
```

---

### 17. Describe the time complexity of accessing elements in a dictionary

Accessing elements in a dictionary takes **O(1)** time on average.

---

### 18. In what situations are lists preferred over dictionaries?

Lists are preferred when:

* Order matters
* Index-based access is needed

**Example:**

```python
names = ["Aakash", "Rahul", "Neha"]
```

---

### 19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Dictionaries are unordered because data is stored based on **hash values**, not index positions. Retrieval is done using keys, not order.

---

### 20. Difference between a list and a dictionary in terms of data retrieval

Lists retrieve data using **indexes**, while dictionaries retrieve data using **keys**.

**Example:**

```python
my_list = ["apple", "banana"]
my_dict = {"fruit": "apple"}

my_list[0]
my_dict["fruit"]
```

In [1]:
# 1. Write a code to create a string with your name and print it.
name = "Aakash"
print(name)

Aakash

In [2]:
# 2. Write a code to find the length of the string "Hello World".
text = "Hello World"
print(len(text))

11

In [3]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".
text = "Python Programming"
print(text[:3])

Pyt

In [4]:
# 4. Write a code to convert the string "hello" to uppercase.
text = "hello"
print(text.upper())

HELLO

In [6]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
text = "I like apple"
print(text.replace("apple", "orange"))

I like orange

In [7]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [8]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [9]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [10]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [11]:
# 10. Write a code to reverse t?he list [10, 20, 30, 40, 50].
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

In [12]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
t = (100, 200, 300)
print(t)

(100, 200, 300)

In [13]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [14]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
nums = (10, 20, 5, 15)
print(min(nums))

5

In [15]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [16]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ('apple', 'banana', 'orange')
print("kiwi" in fruits)

False

In [17]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s = {'a', 'b', 'c'}
print(s)

{'a', 'b', 'c'}

In [19]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [22]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [23]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [24]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [28]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
person = {"name": "John", "age": 25, "city": "Delhi"}
print(person)

{'name': 'John', 'age': 25, 'city': 'Delhi'}

In [29]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
data = {'name': 'John', 'age': 25}
data['country'] = "USA"
print(data)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [32]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
data = {'name': 'Alice', 'age': 30}
print(data['name'])

Alice

In [34]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
data = {'name': 'Bob', 'age': 22, 'city': 'New York'}
data.pop('age')
print(data)

{'name': 'Bob', 'city': 'New York'}

In [35]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
data = {'name': 'Alice', 'city': 'Paris'}
print('city' in data)

True

In [36]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
lst = [1, 2, 3]
tup = (4, 5, 6)
dic = {'a': 1, 'b': 2}

print(lst)
print(tup)
print(dic)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

In [37]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it, and print it.
import random

nums = random.sample(range(1, 101), 5)
nums.sort()
print(nums)

[11, 18, 66, 92, 94]

In [40]:
# 28. Write a code to create a list with strings and print the element at the third index.
words = ["one", "two", "three", "four", "five"]
print(words[3])

four

In [41]:
# 29. Write a code to combine two dictionaries into one and print the result.
d1 = {'a': 1, 'b': 2}
d2 = {'c': 3, 'd': 4}

combined = {**d1, **d2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
# 30. Write a code to convert a list of strings into a set.
lst = ["apple", "banana", "apple", "orange"]
result = set(lst)
print(result)